@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size:26px;
    transition: all ease-in-out 0.3s;
    font-weight: 600;

}
body{
background-color: grey;
}
.container{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px 10px #00000029;



}
.result-display{
    width: 280px;
    padding: 50px 10px;
    text-align: right;
    color: white;
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.num{
    border: none;
    padding: 15px 5px;
    width: 75px;
}
.num-body{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.bg-white{
    background-color: white ;
}
.bg-g{
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    color: white;
}